<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lml.dao.UserDao">
	<select id="queryByDate" resultType="Integer">
		select count(*)
		from user
		where sex=#{sex}
		and SUBDATE(NOW(),INTERVAL #{day} DAY)&lt; rigest_date
	</select>
	<select id="queryByLocation" resultType="MapAddress">
		select location name,count(*) value
		from user
		GROUP BY location
	</select>
</mapper>































